nav {
  background-color: gray;
  color: white;
  display: flex;
  align-content: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 60px;
}

a {
  color: white;
  text-decoration: none;
}
